<div class="container">

  <div class="row pad40-top">
    <div class="col-sm-12">
      <h2 class="session-title">Edit Profile</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="row pad20-top">
      <div class="col-xs-12 col-sm-6 offset-sm-3">
        <%= devise_error_messages! %>
      </div>
    </div>

    <div class="row pad20-top">
      <div class="col-xs-12 col-sm-6 offset-sm-3">
        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: 'session-text-field' %>
        </div>
      </div>
    </div>

    <div class="row pad20-top">
      <div class="col-xs-12 col-sm-6 offset-sm-3">
        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: 'session-text-field' %>
        </div>
      </div>
    </div>

    <div class="row pad20-top">
      <div class="col-xs-12 col-sm-6 offset-sm-3">
        <div class="field">
          <%= f.label :phone %><br />
          <%= f.text_field :phone, autofocus: true, autocomplete: "email", class: 'session-text-field' %>
        </div>
      </div>
    </div>


    <div class="row pad20-top">
      <div class="col-xs-12 col-sm-6 offset-sm-3">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'session-text-field' %>
        </div>
      </div>
    </div>

    <div class="row pad20-top">
      <div class="col-xs-12 col-sm-6 offset-sm-3">
        <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'session-text-field' %>
        </div>
      </div>
    </div>
    
    <div class="row pad20-top">
      <div class="col-xs-12 col-sm-6 offset-sm-3">
        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row pad20-top">
      <div class="col-xs-12 col-sm-6 offset-sm-3">
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
    </div>

    <div class="row pad20-top">
      <div class="col-xs-12 col-sm-6 offset-sm-3">
        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      </div>
    </div>

    <div class="row align-items-center justify-content-center pad20-top">
      <div class="col-xs-12">
        <div class="actions">
          <%= f.submit "Save Profile" %>
        </div>
      </div>
    </div>
  <% end %>


  <div class="row pad40-top">
    <div class="col-sm-12">
      <h2 class="session-title">Cancel my account</h2>
    </div>
  </div>

  <div class="row align-items-center justify-content-center pad20-top">
    <div class="col-xs-12">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>


</div>


<div class="container pad20-top">
  <%= image_tag 'advertisement_long.png', width: '100%' %>

</div>