<%= render partial: 'artists/partials/artist_header' %>
<%= render partial: 'artists/partials/artist_actions_header' %>


<div class="container pad40-top">

	<div class="row">
		<div class="col-sm-12 col-md-8">


			<div id='selected-events'>
				<% @artist.upcoming_events(10).each do |event| %>
				
					<div class="card pad20-bottom" style="background-image: url('/assets/event_banner.png');">

					  <div class="card-body">
					    
					  	<div class="row">
					  		<div class="col-sm-12 col-md-9">
							    <div class="row">
							    	<div class="col-sm-12">
							    		<%= link_to event.title, event_path(event), class: 'event-title' %>
							    	</div>
							    </div>

							    <div class="row">
							    	<div class="col-sm-12">
							    		<h6 class="event-text"><%= event.description %></h6>
							    	</div>
							    </div>
							    
							    <div class="row">
							    	<div class="col-sm-12">
							    		<h6 class="event-text"><%= basic_date_format(event.event_date) %></h6>
							    	</div>
							    </div>
							  </div>

							  <div class="col-sm-12 col-md-3">
							  	
							  	<div class="row">
							    	<div class="col-sm-12">
							    		<%= link_to 'Upvote Event', votes_path(event_id: event.id), method: :post, class: 'event-text upvote-event' %>
							    	</div>
							    </div>
							    <div class="row">
							    	<div class="col-sm-12">
							    		<%= link_to 'RSVP', new_user_rsvp_path(event_id: event.id), class: 'event-text rsvp-link' %>
							    	</div>
							    </div>
							    <div class="row">
							    	<div class="col-sm-12">
							    		0 RSVP's
							    	</div>
							    </div>
							    <div class="row">
							    	<div class="col-sm-12">
							    		Favorite
							    	</div>
							    </div>

					    	</div>
					    </div>

					  </div>
					</div>
					
				<% end %>

			</div>

			
		</div>

		<div class="col-sm-12 col-md-4">


			<%= image_tag '/assets/advertisement_tall.png', width: '100%' %>


		</div>

	</div>

</div>
