<%= render partial: 'artists/partials/artist_header' %>
<%= render partial: 'artists/partials/artist_actions_header' %>


<div class="container pad40-top">

	<div class="row">
		<div class="col-sm-12">
			

			<div id='selected-events'>
				<% @artist.upcoming_events(10).each do |event| %>
				
					<div class="card pad20-bottom" style="background-image: url('/assets/event_banner.png');">

					  <div class="card-body">
					    
					  	<div class="row">
					  		<div class="col-sm-12 col-md-9">
							    <div class="row">
							    	<div class="col-sm-12">
							    		<%= link_to event.title, event_path(event), class: 'event-title' %>
							    	</div>
							    </div>

							    <div class="row">
							    	<div class="col-sm-12">
							    		<h6 class="event-text"><%= event.description %></h6>
							    	</div>
							    </div>
							    
							    <div class="row">
							    	<div class="col-sm-12">
							    		<h6 class="event-text"><%= event.event_date %></h6>
							    	</div>
							    </div>
							  </div>

							  <div class="col-sm-12 col-md-3">
							  	
							  	<div class="row">
							    	<div class="col-sm-12">
							    		<%= link_to 'Upvote Event', root_path, class: 'event-text' %>
							    	</div>
							    </div>
							    <div class="row">
							    	<div class="col-sm-12">
							    		<%= link_to 'RSVP', root_path, class: 'event-text' %>
							    	</div>
							    </div>

					    	</div>
					    </div>

					  </div>
					</div>
					
				<% end %>

			</div>

			
		</div>
	</div>

</div>
