<%= render partial: 'users/partials/user_profile_header' %>
<%= render partial: 'users/partials/user_profile_actions_header' %>

<%= render partial: 'layouts/notice', notice: notice %>

<div class="container pad40-top">

	<div class="row">
		<div class="col-sm-12 col-md-8">
			
			<% if @user == current_user %>
				<div id='selected-events'>
					<% @events.each do |event| %>
					
						<div class="card pad20-bottom" style="background-image: url('/assets/event_banner.png');">

						  <div class="card-body">
						    
						  	<div class="row">
						  		<div class="col-sm-12 col-md-9">
								    <div class="row">
								    	<div class="col-sm-12">
								    		<%= link_to event.title, event_path(event), class: 'event-title' %>
								    	</div>
								    </div>

								    <div class="row">
								    	<div class="col-sm-12">
								    		<h6 class="event-text"><%= event.description %></h6>
								    	</div>
								    </div>
								    
								    <div class="row">
								    	<div class="col-sm-12">
								    		<h6 class="event-text"><%= basic_date_format(event.event_date) %></h6>
								    	</div>
								    </div>
								  </div>

								  <div class="col-sm-12 col-md-3">
								  	
								  	<div class="row">
								    	<div class="col-sm-12">
								    		<%= link_to 'Upvote Event', votes_path(event_id: event.id), method: :post, class: 'event-text upvote-event' %>
								    	</div>
								    </div>
								    <div class="row">
								    	<div class="col-sm-12">
								    		<%= link_to 'RSVP', new_user_rsvp_path(event_id: event.id), class: 'event-text rsvp-link' %>
								    	</div>
								    </div>
								    <div class="row">
								    	<div class="col-sm-12">
								    		0 RSVP's
								    	</div>
								    </div>

						    	</div>
						    </div>

						  </div>
						</div>
						
					<% end %>

				</div>
			<% end %>

			
		</div>

		<div class="col-sm-12 col-md-4">

		<div class="card" style="background-image: url('/assets/user_profile_show.png')">
			<div class="card-body">    
		  	<div class="row">
		  		<div class="col-sm-12">

		  			<div class="user-profile-title-sidebar">
		  				My Friends
		  			</div>

		  			<div class="user-profile-title-sidebar">
		  				My Favorites
		  			</div>

		  			<div class="user-profile-title-sidebar-small">
		  				- events
		  			</div>

		  			<div class="user-profile-title-sidebar-small">
		  				- venues
		  			</div>



		  		</div>
		  	</div>
		  </div>
		</div>


		</div>
	</div>

</div>







