<%= render partial: 'users/partials/user_profile_header' %>
<%= render partial: 'users/partials/user_profile_actions_header' %>

<%= render partial: 'layouts/notice', notice: notice %>

<div class="container pad40-top">

	<div class="row">
		<div class="col-sm-12 col-md-8">
			
			<% if @user == current_user %>
				<div id='selected-events'>
					<% @events.each do |event| %>
					
						<div class="card pad20-bottom event-image">

						  <div class="card-body">
						    
						  	<div class="row">
						  		<div class="col-sm-12 col-md-9">
								    <div class="row">
								    	<div class="col-sm-12">
								    		<%= link_to event.title, event_path(event), class: 'event-title' %>
								    	</div>
								    </div>

								    <div class="row">
								    	<div class="col-sm-12">
								    		<h6 class="event-text"><%= event.description %></h6>
								    	</div>
								    </div>
								    
								    <div class="row">
								    	<div class="col-sm-12">
								    		<h6 class="event-text"><%= basic_date_format(event.event_date) %></h6>
								    	</div>
								    </div>
								  </div>

								  <div class="col-sm-12 col-md-3">
								  	
								  	<div class="row">
								    	<div class="col-sm-12">
								    		<% if current_user %>
								    			<% if current_user.has_upvoted_an_event?(event) %>
								    				<%= link_to image_tag("upvoted-arrow.png", height: '22px', width: '22px'), votes_path(event_id: event.id), method: :post, class: 'event-text upvote-event' %>
								    				<%= link_to 'Upvote Event', votes_path(event_id: event.id), method: :post, class: 'event-text upvote-event' %>
								    			<% else %>
								    				<%= link_to image_tag("upvoted-arrow-pending.png", height: '22px', width: '22px'), votes_path(event_id: event.id), method: :post, class: 'event-text upvote-event' %>
								    				<%= link_to 'Upvote Event', votes_path(event_id: event.id), method: :post, class: 'event-text upvote-event' %>
								    			<% end %>
								    		<% else %>
								    			<%= link_to image_tag("upvoted-arrow-pending.png", height: '22px', width: '22px'), votes_path(event_id: event.id), method: :post, class: 'event-text upvote-event' %>
								    			<%= link_to 'Upvote Event', votes_path(event_id: event.id), method: :post, class: 'event-text upvote-event' %>
								    		<% end %>
								    	</div>
								    </div>
								    <div class="row">
								    	<div class="col-sm-12">
								    		<%= event.upvote_count %> Upvotes
								    	</div>
								    </div>
								    <div class="row">
								    	<div class="col-sm-12">
								    		<%= link_to 'RSVP', new_user_rsvp_path(event_id: event.id), class: 'event-text rsvp-link' %>
								    	</div>
								    </div>
								    <div class="row">
								    	<div class="col-sm-12">
								    		<%= event.rsvp_count %> RSVP's
								    	</div>
								    </div>
								    <div class="row">
								    	<div class="col-sm-12">
								    		<%= link_to 'Favorite', user_favorites_path(event_id: event.id), method: :post, class: 'event-text favorite-link' %>
								    	</div>
								    </div>

						    	</div>
						    </div>

						  </div>
						</div>
						
					<% end %>

				</div>
			<% end %>

			
		</div>

		<div class="col-sm-12 col-md-4">

		<% if @user == current_user %>
			<div class="card <%= fetch_user_image({}) %>">
				<div class="card-body">    
			  	<div class="row">
			  		<div class="col-sm-12">

			  			<div class="user-profile-title-sidebar">
			  				My Friends
			  			</div>

			  			<div class="user-profile-title-sidebar">
			  				My Favorites
			  			</div>

			  			<div class="user-profile-title-sidebar-small">
			  				- events
			  				<% current_user.favorite_events.each do |event| %>
			  					<p class='indent'><%= link_to event.title, event_path(event) %></p>
			  				<% end %>
			  			</div>

			  			<div class="user-profile-title-sidebar-small">
			  				- venues
			  				<% current_user.favorite_venues.each do |venue| %>
			  					<p class='indent'><%= link_to venue.name, venue_path(venue) %></p>
			  				<% end %>
			  			</div>

			  			<div class="user-profile-title-sidebar-small">
			  				- artists
			  				<% current_user.favorite_artists.each do |artist| %>
			  					<p class='indent'><%= link_to artist.name, artist_path(artist) %></p>
			  				<% end %>
			  			</div>



			  		</div>
			  	</div>
			  </div>
			</div>
		<% else %>

			<%= image_tag 'advertisement_small.png', width: '100%' %>

			<%= image_tag 'advertisement_tall2.png', width: '100%', class: 'pad40-top' %>

		<% end %>


		</div>
	</div>

</div>







