<%= render partial: 'layouts/support_navbar' %>

<%= render partial: 'layouts/notice', notice: notice %>


<div class="container pad20-top">
	<div class="row">
		<div class="col-sm-12 col-md-8">
		
			<% @events.each do |event| %>
			
				<div class="card pad20-bottom" style="background-image: url('/assets/event_banner.png');">

				  <div class="card-body">
				    
				  	<div class="row">
				  		<div class="col-sm-12 col-md-9">
						    <div class="row">
						    	<div class="col-sm-12">
						    		<%= link_to event.title, event_path(event), class: 'event-title' %>
						    	</div>
						    </div>

						    <div class="row">
						    	<div class="col-sm-12">
						    		<h6 class="event-text"><%= event.description %></h6>
						    	</div>
						    </div>
						    
						    <div class="row">
						    	<div class="col-sm-12">
						    		<h6 class="event-text"><%= event.event_date %></h6>
						    	</div>
						    </div>
						  </div>

						  <div class="col-sm-12 col-md-3">
						  	
						  	<div class="row">
						    	<div class="col-sm-12">
						    		<%= link_to 'Upvote Event', root_path, class: 'event-text' %>
						    	</div>
						    </div>
						    <div class="row">
						    	<div class="col-sm-12">
						    		<%= link_to 'RSVP', root_path, class: 'event-text' %>
						    	</div>
						    </div>

				    	</div>
				    </div>

				  </div>
				</div>
				
			<% end %>

		</div>

		<div class="col-sm-12 col-md-4">
			<div class="card">
			  <div class="card-body secondary-backing">
			    FEATURED VENUES (dropdown)
			  </div>
			</div>

			<div class="card pad20-top">
			  <div class="card-body">
			    (Venue Banner Here)
			  </div>
			</div>
		
			<div class="card pad20-top">
			  <div class="card-body secondary-backing">
			    FEATURED EVENTS
			  </div>
			</div>

			<div class="card pad20-top">
			  <div class="card-body">
			    (Event Banner Slider Here)
			  </div>
			</div>


		</div>

	</div>
</div>


