<%= render partial: 'events/partials/event_header' %>
<%= render partial: 'events/partials/event_actions_header' %>

<%= render partial: 'layouts/notice', notice: notice %>


<div class="container pad40-top">
	<div class="row">
		<div class="col-sm-12 col-md-8">


			<% @event.artists.each do |artist| %>
				<div class="row pad15-top">
					<div class="col-sm-6">
						<h3>
							<%= link_to artist.name, artist_path(artist), class: 'artist-show' %>
							
						</h3>
						<%= link_to 'Follow', root_path %>

						<p><%= artist.description %></p>

					</div>

					<div class="col-sm-6">
						<%= image_tag '/assets/artist_profile.png', width: '100%' %>
					</div>

				</div>
				<hr>
			<% end %>

		</div>

		<div class="col-sm-12 col-md-4">
			<%= image_tag '/assets/advertisement_tall3.png', width: '100%', class: 'pad15-top' %>

		</div>

	</div>
</div>

<div class="container pad20-top">
	<%= image_tag '/assets/advertisement_long.png', width: '100%' %>

</div>
