<%= render partial: 'statics/statics_header' %>


<div class="container pad40-top">

	<div class="row">
		<div class="col-sm-12">
			FIND US ON THE WEB THROUGH SOCIAL MEDIA:
		</div>
	</div>

	<div class="row pad20-top">
		<div class="col-sm-12">
			<%= link_to 'HOMEPAGE', 'https://tranquil-shore-91433.herokuapp.com/' %>
		</div>
	</div>

	<div class="row pad20-top">
		<div class="col-sm-12">
			<%= link_to 'FACEBOOK', '#' %>
		</div>
	</div>

	<div class="row pad20-top">
		<div class="col-sm-12">
			<%= link_to 'TWITTER', '#' %>
		</div>
	</div>

	<div class="row pad20-top">
		<div class="col-sm-12">
			<%= link_to 'MYSPACE :)', '#' %>
		</div>
	</div>


</div>









