<div class="container">
	<div class="row pad40-top">
    <div class="col-sm-12">
      <h2 class="session-title">RSVP for <%= @event.title %></h2>
   		<h3 class="session-title"><%= @event.venue.name %></h3>
   		<h3 class="session-title"><%= basic_date_format(@event.event_date) %></h3>
    </div>
  </div>

			
	<%= form_for @user_rsvp, class: 'new_user_rsvp' do |f| %>

		<div class="row pad20-top">
  		<div class="col-xs-12 col-sm-6 offset-sm-3">
				<div class="field">
			    First Name<br />
			    <%= f.text_field :first_name, class: 'session-text-field' %>
			  </div>
			</div>
		</div>

		<div class="row pad20-top">
  		<div class="col-xs-12 col-sm-6 offset-sm-3">
			  <div class="field">
			    Last Name<br />
			    <%= f.text_field :last_name, class: 'session-text-field' %>
			  </div>
			</div>
		</div>

		<div class="row pad20-top">
  		<div class="col-xs-12 col-sm-6 offset-sm-3">
			  <div class="field">
			    Email<br />
			    <%= f.text_field :email, class: 'session-text-field' %>
			  </div>
			</div>
		</div>

		<%= f.hidden_field :user_id, value: @user_rsvp.user_id %>
		<%= f.hidden_field :event_id, value: @user_rsvp.event_id %>

		<div class="row align-items-center justify-content-center pad20-top">
  		<div class="col-xs-12">
    		<div class="actions">
					<%= f.submit 'Submit RSVP' %>
				</div>
			</div>
		</div>
	<% end %>


</div>


<div class="container pad20-top">
	<%= image_tag '/assets/advertisement_long.png', width: '100%' %>

</div>

