<% events.each do |event| %>
				
	<div class="card pad20-bottom event-image">

	  <div class="card-body">
	    
	  	<div class="row">
	  		<div class="col-sm-12 col-md-9">
			    <div class="row">
			    	<div class="col-sm-12">
			    		<%= link_to event.title, event_path(event), class: 'event-title' %>
			    	</div>
			    </div>

			    <div class="row">
			    	<div class="col-sm-12">
			    		<h6 class="event-text"><%= event.description %></h6>
			    	</div>
			    </div>
			    
			    <div class="row">
			    	<div class="col-sm-12">
			    		<h6 class="event-text"><%= basic_date_format(event.event_date) %></h6>
			    	</div>
			    </div>
			  </div>

			  <div class="col-sm-12 col-md-3">
			  	
			  	<div class="row">
			    	<div class="col-sm-12">
			    		<%= link_to 'Upvote Event', votes_path(event_id: event.id), method: :post, class: 'event-text upvote-event' %>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-12">
			    		<%= event.upvote_count %> Upvotes
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-12">
			    		<%= link_to 'RSVP', new_user_rsvp_path(event_id: event.id), class: 'event-text rsvp-link' %>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-12">
			    		<%= event.rsvp_count %> RSVP's
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-12">
			    		<%= link_to 'Favorite', user_favorites_path(event_id: event.id), method: :post, class: 'event-text favorite-link' %>
			    	</div>
			    </div>

	    	</div>
	    </div>

	  </div>
	</div>
	
<% end %>

